body {
	font-family: 'Alegreya Sans', sans-serif;
	margin: 0px;
	background-color: #9b2114;
	color: #eee;
	font-size: 20px;
    text-align:center;
}

.header {
    padding: 30px 0;
    background-color: #c0392b;
}

.content {
    background-color: #9b2114;
}

.center{
    text-align:center;
}

h1, h2, h3, .h1, .h2, .h3 {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 800;
}
.h1 {
	font-size: 34px;
}
.h2 {
	font-size: 30px;
}

.small{
	font-size: 14px;
}

a, a:visited{
	color: #A2DED0;
	text-decoration: none;
}
a:hover, a:active{
	color: #eee;
}


#clock {
	font-size: 50px;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
}
#clock>div {
	display: inline-block;
	min-width: 75px;
}
#months, #days, #hours, #minutes, #seconds {
	display: inline-block;
	height: 40px;
}


#reasons {
	height: 60px;
}
#reason {
	font-size: 26px;
}


.no-pad-bottom {
	margin-bottom: 0px;
	padding-bottom: 0px;
}


button{
    background-color: inherit;
    outline:none;
    border: 2px solid;
    border-color: #eee;
    border-radius: 12px;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px;
    color: #eee;
    padding: 4px;
    margin: 4px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
button:hover, button:active{
	border-color: #A2DED0;
	color: #A2DED0;
}
