<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <title>Illinois Budget Clock</title>
        
        <meta name="description" content="See how long Illinois has been languishing without a budget, why it matters, & what you can do about it.">
        <meta name="author" content="Chi Hack Night">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:site_name" content="Illinois Budget Clock">
        <meta property="og:title" content="Illinois Budget Clock">
        <meta property="og:type" content="website">
        <meta property="og:description" content="See how long Illinois has been languishing without a budget, why it matters, & what you can do about it.">
        <meta property="og:url" content="http://ilbudgetclock.com/">
        <meta property="og:image" content="http://ilbudgetclock.com/favicon.ico">


        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@chihacknight">
        <meta name="twitter:creator" content="@chihacknight">
        <meta name="twitter:description" content="See how long Illinois has been languishing without a budget, why it matters, & what you can do about it.">
        <meta name="twitter:title" content="Illinois Budget Clock">
        <meta name="twitter:url" content="http://ilbudgetclock.com/">
        <meta name="twitter:image:src" content="http://ilbudgetclock.com/favicon.ico">

        
        <link rel="stylesheet" href="css/custom.css">
        <link rel="icon" type="image/png" href="favicon.png">

        <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,800' rel='stylesheet' type='text/css'>

    </head>
    <body>
        
        {{content}}

        <script src="js/jquery.min.js"></script>
        <script src="js/moment.js"></script>
        <script src="js/analytics_lib.js"></script>
        <script type="text/javascript">


            var reasons = [
                ['We might turn off the lights at government offices. Literally.','http://www.chicagotribune.com/news/local/politics/ct-jesse-white-illinois-budget-met-0926-20150925-story.html'],
                ['Medicaid patients might stop receiving healthcare.','http://progressillinois.com/news/content/2015/07/23/state-hit-suit-over-hospital-medicaid-payments-during-budget-impasse']
            ]
            var i = 0;

            var clock;
            updateClock();

            setInterval(function(){
                updateClock();
            }, 1000);

            function updateClock(){
                clock = moment().subtract(moment("July 1 2015 5:00:00"));
                $("#months").html(clock.get('month'));
                $("#days").html(clock.get('day'));
                $("#hours").html(clock.get('hour'));
                $("#minutes").html(clock.get('minute'));
                $("#seconds").html(clock.get('second'));
            }

            function shuffle(o){
                for(var j, x, i = o.length; i; j = Math.floor(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
                return o;
            }

            $('#do-something').hide();
            shuffle(reasons);

            $('#more').on('click', function(e){

                $('#reason').fadeOut().delay(200).fadeIn()
                window.setTimeout(function () {
                    $("#reason").html(reasons[i][0]+' <a href="'+reasons[i][0]+'" target="blank" class="small">SOURCE</a>');
                    }, 500);

                i = (i+1) % reasons.length;


            })

            $('#call-to-action-btn').on('click', function(e){
                $('#do-something').show()
            })




        </script>
    </body>
</html>
