<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <title>Illinois Budget Clock</title>
        
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="css/custom.css">
        <link rel="icon" type="image/png" href="favicon.png">

        <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,800' rel='stylesheet' type='text/css'>

    </head>
    <body>
        
        {{content}}

    </body>
    <script src="js/jquery.min.js"></script>
    <script type="text/javascript">


        var reasons = [
            ['We might turn off the lights at government offices. Literally.','http://www.chicagotribune.com/news/local/politics/ct-jesse-white-illinois-budget-met-0926-20150925-story.html'],
            ['Medicaid patients might stop receiving healthcare.','http://progressillinois.com/news/content/2015/07/23/state-hit-suit-over-hospital-medicaid-payments-during-budget-impasse'],
        ];

        var i = 0;
        var starttime = 'July 1 2015 5:00:00';


        function shuffle(o){
            for(var j, x, i = o.length; i; j = Math.floor(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
            return o;
        }

        function getTimeSince(t){
            var total = Date.parse(new Date()) - Date.parse(t);
            var seconds = Math.floor( (total/1000) % 60 );
            var minutes = Math.floor( (total/1000/60) % 60 );
            var hours = Math.floor( (total/(1000*60*60)) % 24 );
            var days = Math.floor( total/(1000*60*60*24) );
            return {
                'total': total,
                'days': days,
                'hours': hours,
                'minutes': minutes,
                'seconds': seconds
            };
        }

        function initializeClock(id, t_start){
            var clock = document.getElementById(id);
            var timeinterval = setInterval(function(){
                var t = getTimeSince(t_start);
                document.getElementById('days').innerHTML = t.days;
                document.getElementById('hours').innerHTML = t.hours;
                document.getElementById('minutes').innerHTML = t.minutes;
                document.getElementById('seconds').innerHTML = t.seconds;
                if(t.total<=0){
                    clearInterval(timeinterval);
                }
            },1000);
        }

        $('#do-something').hide()
        initializeClock('clock', starttime);
        shuffle(reasons);

        $('#more').on('click', function(e){

            $('#reason').fadeOut().delay(200).fadeIn()
            window.setTimeout(function () {
                console.log($("#reason"))
                $("#reason").html(reasons[i][0]+' <a href="'+reasons[i][0]+'" target="blank" class="small">SOURCE</a>');
                }, 500);
            i = (i+1) % reasons.length;


        })

        $('#call-to-action-btn').on('click', function(e){
            $('#do-something').show()
        })




    </script>
</html>
